.footer {
  background-color: #202020;
  height: 82px;
  position: sticky;
  padding: 0 15%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }

  span {
    color: #999999;
  }
}